/*
Stylesheet of calendar pages.

@author Willem Wantenaar
*/

#container {
    padding: 10px;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 32px;
    width: 350px;
    height: 360px;
}

#container > div {
    padding: 0;
    margin-bottom: 10px;
}

#month {
    margin: 5px;
}

#dates > table > tr > td {
    padding: 5px;
    border: 1px dashed lightblue;
    border-radius: 2px;
}

#dates > table > tr > td:hover {
    border: 1px solid lightblue;
    border-radius: 2px;
    background-color: lightblue;
}

#schedule {
    padding: 10px;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 20px;
    width: 370px;
    height: 340px;
}

#events {
    margin: 0;
    padding-inline-start: 0;
    border-left: 0;
}

.lb1 {
    display: inline-block;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 320px;
    height: 25px;
    border: 1px solid lightgray;
    margin: 0;
}

.lb2 {
    display: inline-block;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 320px;
    height: 25px;
    border: 1px solid lightgray;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.calendar-mod-form {
    font-size-adjust: 1;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
